.section-rectangle {
    width: 0.5em;
    background: rgba(38, 84, 146, 0.5);
    margin-right: 1em;
}

.jam-buka-rectangle {
    flex-direction: column;
    padding: 2em;
    background: rgba(190, 203, 220, 0.5);
}
