#ontick-logo {
    font-family: 'Josefin Sans';
    font-size: 13vw;
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: 10px 10px 10px #A553E440;
}

#btn-view-upcoming {
    width: 30vw;
    background-color: #DF3599;
}

#btn-view-upcoming:hover {
    background-color: #FFFFFF;
    color: #DF3599;
}
