::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    padding: 1em;
    background-color: #1E182F;
}

.text-font-roboto {
    font-family: 'Roboto';
}

.text-color-white {
    color: #FFFFFF;
}
