::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: #1E182F;
}

.text-font-roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.text-font-andika {
    font-family: 'Andika', sans-serif;
    font-weight: 400;
}

.text-color-white {
    color: #FFFFFF;
}
