* {
    font-family: 'Roboto', sans-serif;
}

#index-image {
    width: 100vw; height: 100vh;
    object-fit: cover;
    opacity: 1;
    position: relative;
}

#index-body {
    position: absolute;
}

#index-body p {
    margin: 0;
    line-height: normal;
}

#welcome-text {
    font-size: 4.3vmin;
}

#welcome-logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13vmin;
    font-weight: 400;
    text-shadow: 10px 10px 10px #A553E440;
}

#welcome-desc {
    font-size: 3vmin;
}

#welcome-btn {
    padding-top: 100px;
}

#welcome-btn-detail {
    border: 2px solid #fff;
    border-radius: 50px;
}

#welcome-btn-detail p {
    color: #fff;
    font-family: 'Andika', sans-serif;
}

.darker-background {
    overflow: hidden;
    background-color: #000;
}

.darker-background #index-image {
    opacity: 0.35;
}

.card {
    background: url(./images/WelcomePage_img.jpg) no-repeat center center fixed;
    background-size: cover;
    filter: drop-shadow(10px 10px 10px #000);
}

.signin-text {
    font-family: 'Andika', sans-serif;
}

.left-col h1 {
    text-align: left;
    font-size: 8vmin;
    font-weight: 700;
}

.left-col hr {
    width: 20%; height: 4px;
    opacity: 1; border: none;
    background-color: #fff;
}

.right-col {
    border-radius: 10px;
    background-color: #D9D9D933;
}

.right-col h1 span {
    text-decoration: underline;
    text-underline-offset: 13px;
}

.text-end {
    font-size: 1.3vmin;
}

.form-field {
    color: #fff;
    width: 100%; height: 30px;
    border: 0; border-radius: 50px;
    background-color: #D9D9D933;
}

.button-field button {
    color: #fff; height: 30px;
    border: 0; border-radius: 50px;
    background-color: #DF3599;
}

.button-field button:hover {
    background-color: #9b1965;
}

#submit-text {
    font-size: smaller;
}